.chosen-container-multi .chosen-choices {
  border: 2px solid rgba(39, 41, 43, 0.15);
  border-radius: 0.2857rem;
  box-shadow: none;
  background: #fff;
  height: auto !important;
}

.chosen-container-multi .chosen-choices li.search-choice {

  background: #eee;
  box-shadow: none;
  margin: 5px;
  border: none;

}