body {
  background: #FFE957;
}

footer#footer {
  border-top: solid 1px #666666;
  margin-top: 50px;
  padding: 25px;
  color: #666666;
  text-align: center;
  background: #000;
}

#view-container {
  padding: 60px;
  padding-top: 30px;
}

.ui.header.dividing{
  min-width: 700px;
}

#message-container > .message {
  margin: 10px;
}

#navigation-container {
  margin: 0;
}

#navigation-container > .item{
font-size: 1.3rem
}

.pull.right {
  float: right;
}

.page.sub.menu {
  display: inline-block;
  vertical-align: top;
}

.page.container {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  vertical-align: top;
}

.field.date.selects > select{
  display: inline-block;
  width: auto;
}
