body {
  background: #FFE957;
}

footer#footer {
  border-top: solid 1px #666666;
  margin-top: 50px;
  padding: 25px;
  color: #666666;
  text-align: center;
  background: #000;
}

#view-container {
  padding: 60px;
}

#message-container > .message {
  margin: 0px;
}

#navigation-container {
  margin: 0;
}

.pull.right {
  float: right;
}